@import "config";
$accent: #FED100;
$fontsize: 16px; // Body Font Size
$textcolor:#333333; // Text Color
$lineheight: 1.65; // Document Line Height
$userfont: roboto-oh5, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

.hide_scroll {
	overflow:hidden !important;
	height: 100vh !important;
}

body{
	font-family: Montserrat-Regular;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}
ul{
	margin:0px;
}
li{
	list-style: none;
	
}
a{
	text-decoration: none;
	color: $textcolor;
}
.container{
	max-width: 1304px;
	margin: 0 auto;
}
.d-flex{
	display: flex;
}

// <!-- ***************MAIN SECTION*************** -->
// <!-- *********Navigation/Навигация********* -->
.main-section{
	background-color: #FECC00;
	#Myhamburger{display: none;}
	//height: 100vh;
	background-image: url("../images/src/Rectangle2.png");
	background-repeat: no-repeat;
	background-position: right 174px bottom 167px;
	
}
.main-navigation{
	z-index: 10;
	#nav-menu{
		display: flex;
		align-items: flex-end;
		z-index: 10;
	}
	.menu-item{
		margin: 0px 24px;
		font-size: 18px;
		font-family: Montserrat-Medium;
		z-index: 10;
	}
}
.main-section_logo{
	a{
		color: $textcolor;
		font-size: 30px;
		font-family: Montserrat-SemiBold;
		text-transform: uppercase;
		line-height: 0px;
		
	}
	
}
.nav-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 62px;
}
.main-section__tel{
	font-family: Montserrat-SemiBold;
	font-size: 24px;
	text-decoration: underline;
	z-index: 10;
	
	
	
}
// <!-- *********/END Navigation/Навигация********* -->
.main-section_why-us_truck{
	max-width: 150px;
	margin-right: 43px;
}
.main-section_why-us_triggerTwo {
	max-width: 140px;
	margin-right: 26px;
}
.main-section_why-us_money{
	max-width: 188px;
}
.main-section_why-us {
	p{
		padding: 0 9px;
		margin: 0px;
		line-height: 21px;
		font-family: Montserrat-Medium;
	}
}
.orden-btn__red{
	padding: 11px 95px;
	background-color:#FF352B;
	border: 0px;
	color:#F2F2F2;
	font-size: 24px;
	font-family: Montserrat-SemiBold;
	z-index: 10;

}
.main-section-title{
	.main-section-title_left-block{
		max-width: 545px;
		margin-top: 74px;
		h1{
			font-size: 70px;
			font-family: Montserrat-Bold;
			line-height: 1;
		}
		.in-Moscow{
			font-family: Montserrat-SemiBold;
			font-size: 30px;
			line-height: 37px;
			margin-top: 15px;
			margin-bottom: 47px;
		}
	}
	display: flex;
//	justify-content: space-between;
}
.orden-btn{
	cursor: pointer;
}

.orden-btn-wrapper{
	display: inline-block;
	position: relative;
	z-index: 109;
	&:before{
		position: absolute;
		content: "";
		border: 2px solid #F2F2F2;
		top: 10px;
		left: 10px;
		width: 304px;
		height: 60px;
		z-index: -2;
		

	}
}
.main-section_why-us{
	margin-top: 71px;
}
.call_me_wrapp{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: url("../images/src/svg/phone.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-color:rgba(61, 155, 233, 0.8);
	position: relative;
	
	z-index: 2;
	&:before{
		content: "";
		width: 136px;
		height: 136px;
		background: rgba(61, 155, 233, 0.3);
		border-radius: 50%;
		position: absolute;
		top:-18px;
		left:-18px;
		right:0;
		bottom:0;
		z-index: -1;
		cursor: pointer;
		box-shadow: 0 0 0 rgba(204,169,44, 0.4);
		animation: pulse 2s infinite;
		
	}
}
.call_me{
	position: relative;
	top: 447px;
	right: 30px;
	max-height: 106px;
}
.main-section-title_right-block{
	display: flex;
	justify-content: space-between;
	width: 100%;
	&__deliveryman{
		position: relative;
		left: 78px;
		margin-top: 57px;
		z-index: 1;
	}
	margin-top: -30px;
	
}


// <!-- *********Как это происходит?/Happen?********* -->
.happen__block{
	max-width: 1093px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.happen__list{
	flex: 0 0 45%;
	
	
}
.list_text{
	max-width: 380px;	
}
.happen__tittle{
	font-size: 30px;
	font-family: "Montserrat-SemiBold";
	text-align: center;
}
.happen{
	&__list{
		display: flex;
	}
}
.list_number{
	font-size: 50px;
	font-family: "Montserrat-Light";
	text-shadow: 1px 1px 1px #FED100;
	margin-right: 47px;
	display: flex;
  line-height: 50px;

}






@import "media";
